<!-- THIS IS THE MAIN PAGE OF OUR WEBSITE -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>
<body>
    <h1>Home</h1>
    <a
      class="bg-gradient-to-r from-slate-500 to-slate-800 text-white p-2 shadow-lg rounded-full text-sm"
      href="logout"
      >Logout</a
    >
</body>
</html>